                                    #### Start Of Problem Set-2 ####

## Question 1

In [39]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [40]:
b()
b()
b()
print(a)

6

## Question 2

In [29]:
def file_Length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File not found!")
    except:
        print("An error occurred while reading the file.")

In [30]:
print(file_Length)

<function file_Length at 0x0000024FCC4EE948>

In [31]:
print(file_Length('midterm.py'))

File not found!
None

In [32]:
print(file_Length('idterm.py'))

File not found!
None

## Question 3

In [33]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

In [34]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [35]:
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}, {})".format(self.x, self.y)

In [36]:
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)

## Question 4

In [42]:
def collatz(x):
    print(x, end=' ')
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [43]:
collatz(1)

1

In [45]:
collatz(10)

10 5 16 8 4 2 1

In [47]:
collatz(15)

15 46 23 70 35 106 53 160 80 40 20 10 5 16 8 4 2 1


## Question 5

In [51]:
def binary(n):
    if n == 0:
        return "0"
    elif n == 1:
        return "1"
    else:
        return binary(n//2) + str(n%2)

In [52]:
print(binary(0))  
print(binary(1)) 
print(binary(3))  
print(binary(9))

0
1
11
1001

## Question 6

In [108]:
class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indent = 0
        self.ignore_tag = True

    def handle_starttag(self, tag, attrs):
        if tag == 'title':
            self.ignore_tag = True
        elif tag.startswith('h'):
            if not self.ignore_tag:
                print(' ' * self.indent, end='')
                print(tag + ': ', end='')
            self.indent += 1

    def handle_endtag(self, tag):
        if tag == 'title':
            self.ignore_tag = False
        elif tag.startswith('h'):
            if not self.ignore_tag:
                self.indent -= 1
                print()

    def handle_data(self, data):
        if not self.ignore_tag and data.strip():
            print(data.strip(), end='')

In [109]:
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

 h1: W3C Mission
 h2: Principles

## Question 7

In [32]:
import urllib.request
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth == 0:
        return
    try:
        response = urllib.request.urlopen(url)
    except:
        return
    soup = BeautifulSoup(response, 'html.parser')
    print(' ' * indent + url)
    links = soup.find_all('a')
    for link in links:
        href = link.get('href')
        if href.startswith('http'):
            webdir(href, depth-1, indent+1)

In [33]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

## Question 8

In [ ]:
import sqlite3
con = sqlite3.connect('sqlite3.db')
cur = con.cursor()

In [2]:
cur.execute("CREATE TABLE World1 (City text, Country text,  Season text, Temperature float, Rainfall float)")
cur.execute("INSERT INTO World1 VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9 )")

In [3]:
cur.execute("INSERT INTO World1 VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2 )")

In [4]:
cur.execute("INSERT INTO World1 VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4 )")

In [5]:
cur.execute("INSERT INTO World1 VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0 )")

In [6]:
cur.execute("INSERT INTO World1 VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7 )")

In [7]:
cur.execute("INSERT INTO World1 VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6 )")

In [8]:
cur.execute("INSERT INTO World1 VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0 )")

In [9]:
cur.execute("INSERT INTO World1 VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5 )")

In [10]:
cur.execute("INSERT INTO World1 VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5 )")

In [11]:
cur.execute("INSERT INTO World1 VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5 )")

In [12]:
cur.execute("INSERT INTO World1 VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1 )")

In [13]:
cur.execute("INSERT INTO World1 VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5 )")

In [14]:
cur.execute('SELECT * FROM World1')

In [15]:
cur.fetchall()

[('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### a- All the temperature data.

In [16]:
cur.execute('SELECT Temperature FROM World1')

In [17]:
cur.fetchall()

[(28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

#### b- All the cities, but without repetition.

In [18]:
cur.execute('SELECT DISTINCT City FROM World1')

In [19]:
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

#### c- All the records for India.

In [20]:
cur.execute("SELECT * FROM World1 WHERE Country = 'India'")

In [21]:
cur.fetchall()

[('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### d- All the Fall records.

In [22]:
cur.execute("SELECT * FROM World1 WHERE Season = 'Fall'")

In [23]:
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### e- The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [25]:
cur.execute('SELECT City, Country, Season FROM World1 GROUP BY City, Country, Season HAVING AVG(Rainfall) >= 200 AND AVG(Rainfall) <= 400')

In [26]:
cur.fetchall()

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

#### f-The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [27]:
cur.execute("SELECT City, Country, AVG(Temperature) as avg_temp FROM World1 WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY avg_temp ASC")

In [29]:
cur.fetchall()

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

#### g- The total annual rainfall for Cairo

In [30]:
cur.execute("SELECT SUM(Rainfall) as total_rainfall FROM World1 WHERE City = 'Cairo'")

In [31]:
cur.fetchall()

[(27.6,)]

#### h- The total rainfall for each season.

In [32]:
cur.execute("SELECT Season, SUM(Rainfall) as total_rainfall FROM World1 GROUP BY Season")

In [33]:
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 224.2)]

## Question 9

#### a

In [34]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
new_words = [word.upper() for word in words]
print(new_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b

In [35]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
new_words = [word.lower() for word in words]
new_words

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c

In [36]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
lengths = [len(word) for word in words]
print(lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d

In [37]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
new_words = [[word.upper(), word.lower(), len(word)] for word in words]
print(new_words)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### e

In [38]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
long_words = [word for word in words if len(word) >= 4]
long_words

['quick', 'brown', 'jumps', 'over', 'lazy']

                                      ####  End Of Problem Set -2 ####